---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #000000;
$background-color: #ECEFF1;
$brand-color:      #1B5E20;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.sidebar {
  position: fixed;
  background-color: #fff;
  width: 250px;
  text-align: left;
  top: 64px;
  left: 0;
  bottom: 0;
}

.content {
  margin-left: 300px;
  margin-right: 30px;
  padding-top: 100px;
}

.toolbar {
  background-color: #126d39;
  position: fixed;
  width: 100%;
}

.toolbar .title {
  margin-left: 60px !important;
}

.logo {
  height: 48px;
  margin-right: 20px;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

h2 {
  margin-top: 30px;
}

.design-logo {
  width: 600px;
  display: block;
  margin-bottom: 40px;
}

.design-color {
  display: inline-block;
  width: 150px;
  height: 150px;
  color: white;
  margin: 0 40px 40px 0;
}

.design-color span {
  margin-left: 16px;
  display: block;
  padding-top: 100px;
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
}

.green {
  background-color: #1B5E20;
}

.orange {
  background-color: #F05D21;
}

.blue {
  background-color: #2C5770;
}

.darkgrey {
  background-color: #4A4A4A;
  
}

.darkgrey span {
  margin-left: 8px;
}

.lightgrey {
  background-color: #ECEFF1;
  color: #4A4A4A;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #4A4A4A;
}

.lightgrey span {
  margin-left: 12px;
}

.design-font {
  display: inline-block;
  font-size: 24px;
  margin: 30px 60px 0 0;
}

.Roboto-Slab {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}